body{
    background-color: rgb(165, 134, 174);
}

h1{
    color:rgb(110, 72, 25)
}

h2{
    color: rgb(110, 72, 25);

}
.note-text{

    color:rgb(53, 31, 2) ;
}

p{
    color: rgb(4, 45, 31);
}



